body {
    background-color: deepskyblue;
}

/* Style real alert */
#real-alert {
    color: orangered;
    font-size: 25px;

}

/* Style test alert */
#test-only {
    color: greenyellow;
    font-size: 50px;
}

/* Style both alerts using missile-link class */
.missile-link {
    display: block;
    margin: 50px;
}