body {
    background-color: darkseagreen;

    font-family: 'Wire One', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

h2 {
    font-family: 'Play', sans-serif;

}

.header {
    font-family: 'Play', sans-serif;
}